.loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 4px;
    display: inline-block;
}
.box__red {
    background-color: red;
}

.box__blue {
    background-color: blue;
}
.box__yellow {
    background-color: yellow;
}
.box__grey {
    background-color: grey;
}
